.nav-logo {
  height: 50px;
  width: 50px;
}

.redandblue {
  margin-left: 8%;
}

body {
  background-image: url('./imgs/background.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;

}

.chosenpokemon {
  background-color: rgb(175, 179, 179);
  border-radius: 14px;
  margin-top: 5%;
}